@use 'fonts';
@use 'global' as *;
@use 'typography';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  color: $color-dark-blue;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-height: 100vh;
}
